<h1>Edit coaster</h1>

<! form to edit a coaster >
<%= form_for @coaster do |f| %>

  <! if the form is filled out incorrectly, this will return an error message, and details of the issues >
  <%= render 'errors' %>

  <!-- only name and park_id are necessary
  users cannot edit these values after coaster is created -->
  <%= f.label :name %>:
  <%= @coaster.name %><br/>
  <%= f.label :park_id %>:
  <%= Park.find(@coaster.park_id).name %><br/>
  <%= f.label :material %>
  <%= f.text_field :material %><br/>
  <%= f.label :height %> in feet
  <%= f.number_field :height %><br/>
  <%= f.label :length %> in feet
  <%= f.number_field :length %><br/>
  <%= f.label :speed %> in mph
  <%= f.number_field :speed %><br/>
  <%= f.label :inversions %>
  <%= f.number_field :inversions %><br/>

  <%= f.submit %>

<% end %>

<%= render 'links' %>