<div class="left">
<h1>Search for coasters</h1>

<! query form to search for coasters - may want to use wildcards and/or titleize to allow for inexact searches >
<%= form_tag('/coasters', method: 'get') do %>
  <%= text_field_tag(:query, nil ,:placeholder => 'Search for a coaster') %>
  <%= submit_tag 'Search' %>
<% end %>

<! Returns error message if search returns no results. >
<% if @coasters.empty? && params[:query] %>
  <h3>No results returned.</h3>
<% end %>

<!-- turn results into a form to add or remove coasters from user's coaster list - can we do more than one at a time with checkboxes? -->
<%= render 'results' %>

<%= render 'links' %><br/><br/>

<h4>Due to limited functionality, we're currently providing a list of all coasters in our database.</h4>
<% Coaster.all.each do |coaster| %>
  <li class="results"><%= link_to coaster.name, coaster %>
    (Park: <%= link_to Park.find(coaster.park_id).name, Park.find(coaster.park_id) %>)</li>
<% end %>
</div>

<!-- API for Google Maps - set up to show the parks of the queried-for coasters
will only show up if search is run and returns coasters -->
<% if @coasters && params[:query] %>
  <div class="right">Location of parks for coasters returned by your search<%= gmaps4rails(@json) %></div>
<% else %>
  <div class="right"><img src="http://www.placesaroundflorida.com/images/Tampa/Montu-Busch-Gardens.jpg"/><br/><br/><br/>
    <img src="http://etherealwellness.files.wordpress.com/2012/10/emotional-roller-coaster.jpg"/>
    </div>
<% end %>