<h1><%= @coaster.name %></h1>
<h2>Park: <%= @park.name %></h2>

<%= label_tag "Have you ridden this coaster?" %>
    <%= check_box_tag "user.coasters", @coaster.id, @user.coasters.include?(@coaster) %>

<ul>
  <li>Type: <%= @coaster.material %></li>
  <li>Height: <%= @coaster.height %></li>
  <li>Length: <%= @coaster.length %></li>
  <li>Speed: <%= @coaster.speed %></li>
  <li>Inversions: <%= @coaster.inversions %></li>
</ul>

<%= gmaps4rails(@json) %><br/>