<h1><%= @coaster.name %></h1>
<h2>Park: <%= Park.find(@coaster.park_id).name %></h2>

<ul>
  <li>Type: <%= @coaster.material %></li>
  <li>Height: <%= @coaster.height %></li>
  <li>Length: <%= @coaster.length %></li>
  <li>Speed: <%= @coaster.speed %></li>
  <li>Inversions: <%= @coaster.inversions %></li>
</ul>