<h1>Search for parks</h1>

<! query form to search for parks - may want to use wildcards and/or titleize to allow for inexact searches >
<%= form_tag('/parks', method: 'get') do %>
  <%= text_field_tag(:query, nil, :placeholder => 'Search for a park') %>
  <%= submit_tag 'Search' %>
<% end %>
<br/>
<%= render 'results' %>

<! Returns error message if search returns no results. >
<% if @parks.empty? && params[:query] %>
  No results returned.
<% end %>

<%= render 'links' %>

<!-- API for Google Maps - set up to show the queried-for parks
will only show up if search is run and returns parks -->
<% if @parks && params[:query] %>
  <%= gmaps4rails(@json) %><br/>
<% end %>