<h1>Hello, <%= @user.user_name %>!</h1>

<%= @user.name %><br/>
<%= @user.email %><br/>
<%= @user.password %><br/>

<ul>
  <% @user.coasters.each do |coaster| %>
    <li><%= link_to coaster.name, coaster %></li>
  <% end %>
</ul>