<h1>Hello, <%= @user.user_name %>!</h1>

<%= @user.name %><br/>
<%= @user.email %><br/>
<%= @user.password %><br/>

<ul>
  <% @user_parks.each do |park| %>
  <li><%= park.name %></li>
  <ul>
    <% @user.coasters.where(park_id: park.id).each do |coaster| %>
      <li><%= link_to coaster.name, coaster %></li>
    <% end %>
  </ul>
  <% end %>
</ul>