<div class="left">
<h1>Hello, <%= @user.user_name %>!</h1>

<h3>Here are the coasters you've ridden.</h3>
<% if @user_parks.nil? %>
  <p>Please feel free to search for coasters to start your list.</p>
<% end %>

<!-- list of all parks in which user has ridden a roller coaster
each park has a list of coasters the user has ridden at that park
each list item links to page for that park/coaster -->
<ul>
  <% @user_parks.each do |park| %>
  <li class="results"><%= link_to park.name, park %></li>
  <ul>
    <% @user.coasters.where(park_id: park.id).each do |coaster| %>
      <li class="results"><%= link_to coaster.name, coaster %></li>
    <% end %>
  </ul>
  <% end %>
</ul>

<! link to edit profile page >
<%= link_to "Update your profile", edit_user_path %><br/><br/>
</div>

<! API for Google Maps - set up to show the user's parks >
<div class="right">Location of parks you've visited<%= gmaps4rails(@json) %></div>