<h1>Hello, <%= @user.user_name %>!</h1>


<! List of all parks in which the user has ridden a roller coaster - each park has a list of the coasters the user has ridden at that park. >
<ul>
  <% @user_parks.each do |park| %>
  <li><%= link_to park.name, park %></li>
  <ul>
    <% @user.coasters.where(park_id: park.id).each do |coaster| %>
      <li><%= link_to coaster.name, coaster %></li>
    <% end %>
  </ul>
  <% end %>
</ul>

<! Link to edit profile page >
<a href="/users/<%= @user.id %>/edit">Edit profile</a><br/><br/>

<! Form to delete user profile. Causes error at present - deletes profile, but leaves session[:user_id] with value. >
<%= form_tag("/users/#{@user.id}", method: 'delete') do %>
  <%= submit_tag 'Delete Profile' %>
<% end %><br/>

<! API for Google Maps - set up to show the user's parks. >
<%= gmaps4rails(@json) %><br/>