<!DOCTYPE html>
<html>
<head>
  <title>CoasterProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>So Inclined</h1>
</header>

<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.user_name %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>

<nav>
  <a href="/users">Basic user page</a>
  <a href="/parks">Search for parks</a>
  <a href="/coasters">Search for coasters</a>
</nav>

<%= yield %>

<%= yield :scripts %>

</body>
</html>
